{% extends 'base.html' %}

{% block header %}

<title>Search Page</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        <h2>Take control.</h2>
        <h1>Your next workout is just a click away.</h1>
        <br>
        <h3>Sample Workouts</h3>
        <br>
        <table style="width:100%" id="defaultTable" class="defaultTable">
            <tr>
                <th>Name</th>
                <th>Difficulty</th>
                <th>About</th>
                <th>Exp</th>
            </tr>
            {% for workout in default_workouts %}}
            <tr>
                <td>{{workout.name}}</td>
                <td>{{workout.difficulty}}</td>
                <td>{{workout.about}}</td>
                <td>{{workout.exp}}</td>
            </tr>
            {% endfor %}}
        </table>
        <br>
        <form action="search.html">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>
    </div>
</div>

{% endblock %}