{% extends 'base.html' %}

{% block header %}

<title>Search Page</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}
<div class="row darkbg">
    <div class="col">
        <h2 class="text-center">Take control.</h2>
        <h1 class="text-center">Your next workout is just a click away.</h1>
        <br>
        <h3>Start here!</h3>
        <table class="table pt-4">
            <tr>
                <th>Name</th>
                <th>Difficulty</th>
                <th>About</th>
                <th>Exp</th>
            </tr>
            {% for workout in default_workouts %}
            <tr>
                <td>{{workout.name}}</td>
                <td>{{workout.difficulty}}</td>
                <td>{{workout.about}}</td>
                {% if workout.difficulty == 'easy' %}
                <td>{{default_easy_exp}}</td>
                {% endif %}
                {% if workout.difficulty == 'hard' %}
                <td>{{default_hard_exp}}</td>
                {% endif %}
                {% if workout.difficulty == 'medium' %}
                <td>{{default_medium_exp}}</td>
                {% endif %}
                {% if workout.difficulty == 'insane' %}
                <td>{{default_insane_exp}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        
    </div>
</div>
<div class="row darkbg">
    <div class="col text-center">
        <form action="{{url_for('search_workout')}}" method="POST">
            <input type="text" placeholder="Search.." name="name">
            <button type="submit"><i class="material-icons">search</i></button>
        </form>
    </div>
    {% if workouts|length == 0 %}
    <div class="col-sm-12 text-center">
        <h3>Search for a workout!</h3>
    </div>
    {% endif %}
    {%for workout in workouts%}
    <div class="col-sm-12 card">
        <p>
            Name: {{workout.name}}
        </p>
        <p>
            About: {{workout.about}}
        </p>
        <p>
            Difficulty: {{workout.difficulty}}
        </p>
        <a class="button_title" href="{{url_for('workout', creator_id=workout.creator_id, workout_name=workout.name)}}">View</a>
    </div>
    {%endfor%}

    <div class="col-sm-12">
        <h3>Recommended Videos:</h3>
    </div>
    {% if list_of_workout_videos|length == 0 %}
    <div class="col-sm-12 text-center">
        <p style="color: white;">Youtube API Quota was reached! We have been rate limited!<br />You will not recieve youtube recommendations.</p>
    </div>
    {% endif %}
    {% for youtube in list_of_workout_videos %}
    <div class="col-sm-12 col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <img class="card-img-top" src="{{ youtube['snippet']['thumbnails']['high']['url']}}" alt="Card image cap">
                <h5 class="card-title">{{ youtube['snippet']['title']}}</h5>
                <p class="card-text"><b>{{youtube['snippet']['channelTitle']}}</b></p>
                <a href="https://www.youtube.com/watch?v={{youtube['id']['videoId']}}"
                    class="view_button">View</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}