<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO-g-4D9U2--jzyTPvNwOlsd_zu56ebdo&callback=initMap&libraries=places&v=weekly"
  defer
></script>

<div id="map"></div>

<script>
    window.addEventListener('load', function(){
        $.ajax({
            type: "POST",
            url: "{{ url_for('nearby_trainers') }}",
            dataType: "json",
            success: function(data) {
                for(var i = 0; i < data.length; i++){
                    var latlng = new google.maps.LatLng(data[i].lat, data[i].lng);
                    const trainerMarker = new google.maps.Marker({
                        map,
                        anchorPoint: new google.maps.Point(0, -29),
                        position: latlng
                    });
                    const trainerInfowindow = new google.maps.InfoWindow();
                    trainerInfowindow.setContent(data[i].username);
                    trainerInfowindow.open(map, marker);
                    trainerMarker.addListener("click", () => {
                        trainerInfowindow.open(map, marker);
                    });
                }
            },
            error: function() {
                $("#map").innerHTML = "Error: Map could not be displayed";
            }
        })
    });
    
    function initMap() {
        var userLat = parseFloat($("#userLat").val());
        var userLng = parseFloat($("#userLng").val());
        
        if((userLng == null || userLat == null)) {
            userLat = 35.2270869;
            userLng = -80.8431267;
        }

        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: userLat, lng: userLng },
            zoom: 13,
        });
        
        const infowindow = new google.maps.InfoWindow();
        infowindow.setContent("Your location");
        const marker = new google.maps.Marker({
            map,
            anchorPoint: new google.maps.Point(0, -29),
            position: map.center
        });
        infowindow.open(map, marker);
        marker.addListener("click", () => {
            infowindow.open(map, marker);
        });
    }
</script>