{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %}
{% block content %}
<div class="row">
    {% include "sidebar.html" ignore missing %}
    <div class="col-sm-12 col-md-9 col-lg-10 pt-4 darkbg">

        <div class="row text-center pt-3 pb-3">
            <div class="col-sm-12">
                <a class="button_title" href="{{url_for('invitations')}}">
                    Show Invitations
                </a>
            </div>
            {% if invitations|length < 1 %}
            <div class="col text-center p-3">
                <p style="color: #47525E;"><b>No invitations found!</b></p>
            </div>
            {% else %}
            {% for invitation in invitations %}
            {% if invitation %}
            <div class="col-sm-12 col-md">
                <a href="{{ url_for('profile', username=invitation["sender"].username) }}"">
                    <img src=" {{ url_for("static", filename="images/profile.svg") }}"
                    alt="Trainee {{ invitation['sender'].username }}" width="100" height="100">
                    <h3 class="trainer_name">{{ invitation['sender'].username }}</h3>
                </a>
            </div>
            {% endif%}
            {% endfor %}
            {% endif %}
        </div>

        <div class="row text-center pt-3 pb-3">
            <div class="col-sm-12">
                {% if g.user_type == "trainer" %}
                <a class="button_title" href="{{ url_for("list_trainees") }}">
                    Trainees
                </a>
                <a class="button_title" href="{{url_for('trainee_search')}}">
                    Add Trainee
                </a>
                {% elif g.user_type == "trainee" %}
                <a class="button_title" href="{{ url_for("list_trainers") }}">
                    Trainers
                </a>
                <a class="button_title" href="{{url_for('trainer_search')}}">
                    Add Trainer
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row pt-3 pb-3">
            <div class="col-sm-12">
                {% if g.user_type == "trainee" %}
                {% if trainers|length < 1 %}
                <div class="col trainee text-center p-3">
                    <p style="color: #47525E;"><b>No trainers found!</b></p>
                </div>
                {% else %}
                {% for trainer in trainers %}
                {% if trainer %}
                <div class="col-sm-12 col-md trainee"
                    style="align-items: center; text-align: center; padding: 10px 20px;">
                    <a href="{{ url_for("profile", username=trainer.username) }}">
                        <img src="{{ url_for("static", filename="images/profile.svg") }}"
                            alt="Trainee {{ trainer.username }}" width="100" height="100">
                        <h3 class="trainer_name">{{ trainer.username }}</h3>
                    </a>
                </div>
                {% endif%}
                {% endfor %}
                {% endif %}

                {% elif g.user_type == "trainer" %}
                {% if trainees|length < 1 %}
                <div class="col trainee text-center p-3">
                    <p style="color: #47525E;"><b>No trainees found!</b></p>
                </div>
                {% else %}
                {% for trainee in trainees %}
                {% if trainee %}
                <div class="col-sm-12 col-md trainee"
                    style="align-items: center; text-align: center; padding: 10px 20px;">
                    <a href="{{ url_for("profile", username=trainee.username) }}">
                        <img src="{{ url_for("static", filename="images/profile.svg") }}"
                            alt="Trainee {{ trainee.username }}" width="100" height="100">
                        <h3 class="trainee_name">{{ trainee.username }}</h3>
                    </a>
                </div>
                {% endif%}
                {% endfor %}
                {% endif %}

                {% endif %}
            </div>
        </div>
        <div class="row pt-3 pb-3">
            <div class="col-sm-12">
                <div class="col-sm-12 text-center">
                    <a class="button_title" href="{{ url_for("workout_overview") }}" role="button">Workouts</a>
                </div>
                {% if workouts|length < 1 %}
                <div class="col workout text-center p-3">
                    <p style="color: #47525E;"><b>No workouts found!</b></p>
                </div>
                {% else %}
                {% for workout in workouts %}
                {% if workout %}
                <div class="col-sm-12 col-md text-center"
                    style="align-items: center; text-align: center; padding: 10px 20px;">
                    <a href="">
                        <img style="width: 3em;" src="{{ url_for("static", filename="images/dumbbell.svg") }}"
                            alt="workout {{ workout.name }}">
                        <h3 class="workout_name">{{ workout.name }}</h3>
                    </a>
                </div>
                {% endif%}
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row schedule pt-3 pb-3">
            <div class="col-sm-12 text-center">
                <a class="button_title" href="{{ url_for('add_event') }}" role="button">Add Event</a>
                <a class="button_title" href="{{ url_for('schedule') }}" role="button">Schedule</a>
            </div>
            {% if events|length < 1 %}
            <div class="col event text-center p-3">
                <p style="color: #47525E;"><b>No events found!</b></p>
            </div>
            {% else %}
            {% for event in events %}
            {% if event %}
            <div class="col-sm-12 col-md event" style="align-items: center; text-align: center; padding: 10px 20px;">
                <a href="">
                    <img src="{{ url_for("static", filename="images/profile.svg") }}" alt="event {{ event.name }}"
                        width="100" height="100">
                    <h3 class="event_name">{{ event.name }}</h3>
                </a>
            </div>
            {% endif%}
            {% endfor %}
            {% endif %}
        </div>


    </div>
</div>
{% endblock %}