{% extends 'base.html' %}

{% block content %}
<header>
  <nav class="navd">
    <ul>
      <li><a href="{{ url_for("login") }}">Log In</a></li>
      <li><a href="{{ url_for("createuser") }}">Create Account</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Login Form</h2>
  <form action="/login" method="post">
    <div class="image">
      <img src="{{ url_for("static", filename="HeartLogo.png" )}}" alt="Avatar-img" class="avatar">
    </div>
    {% if login_error %}
    <p style="color: red;">Could not log you in!</p>
    {% endif %}
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <br />
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <br />
      <button type="submit">Login</button>
      <br />
      <label for="remember">Remember me</label>
      <input type="checkbox" checked="checked" name="remember">
    </div>
  </form>
</main>
{% endblock %}