{% extends 'base.html' %}

{% block content %}
<main class="darkbg">
  <form action="/login" method="post">
    <div class="row text-center">
      <div class="col-sm-12">
        <h2>Login</h2>
        <p>Let's get this workout started!</p>
      </div>
      {% if login_error %}
      <div class="col-sm-12">
        <p style="color: red;">Could not log you in!</p>
      </div>
      {% elif invalid_characters%}
      <div class="col-sm-12">
        <p style="color: red;">Invalid characters found!</p>
      </div>
      {% endif %}
      <div class="col-sm-12 mb-2">
        <input type="text" placeholder="Enter Username" name="username" onkeyup="return forceLower(this);" required>
      </div>
      <div class="col-sm-12 mb-2">
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>
      <div class="col-sm-12 mb-2">
        <label for="remember">Remember me</label>
        <input type="checkbox" checked="checked" name="remember">
        <br />
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</main>
<script>
  function forceLower(value) {
    value.value = value.value.toLowerCase();
  }
</script>
{% endblock %}