{%extends 'base.html'%}
{% block content%}

<div class="row">
      <div class="col text-center">
            {% if user %}
            <p>Username: {{ user.username }}</p>
            <p>Name: {{ user.firstname}} {{ user.lastname }}</p>
            <p>Location: {{ user.location }}</p>
            <p>Phone: {{ user.phone }}</p>
            <p>Height:</p>
            <p>Weight:</p>
            <p>Experience Points:</p>
            <p>Goal Weight:</p>
            <p>Body Fat:</p>
            {% else %}
            <p style="color: red;">No User Found!</p>
            {% endif %}
      </div>
</div>
{% endblock %}