<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <script src="{{ url_for("static", filename="js/jquery-3.5.1.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.bundle.min.js") }}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">

    <title>Vitality</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/heart.ico') }}">

    {% block header %}{% endblock %}

</head>

<body>
    <div class="container" id="whileLoading">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="spinner-border text-success" style="width: 100px; height: 100px;"></div>
        </div>
    </div>
    <div class="container" style="display: none;" id="loading">

        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ url_for("home") }}">
                <img style="max-height: 50px;" src="{{ url_for("static", filename="images/heartlogo.png") }}"
                    alt="Vitality Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if g.user %}

                    {%if g.user_type == 'trainer' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("trainer_overview") }}"><b>Overview</b></a>
                    </li>
                    {% elif g.user_type == 'trainee' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("profile", username=g.user.username)}}"><b>Profile</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><b>Workouts</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("logout") }}"><b>Signout</b></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("home") }}"><b>Home</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><b>Features</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("login")}}"><b>Login</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("signup") }}"><b>Sign up</b></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </div>

    <script>
        window.onload = function() {
            
            $("#whileLoading").hide();
            $("#loading").show();

        }
    </script>
</body>

</html>