{% extends 'base.html' %}

{% block content %}
<header>
	<nav class="navd">
		<ul>
			<li><a href="{{ url_for("login") }}">Log In</a></li>
			<li><a href="{{ url_for("createuser") }}">Create Account</a></li>
		</ul>
	</nav>
</header>
<main>
	{% if creation_successful %}
	<h1 style="color: green;">Account was created!</h1>
	{% else %}

	{% if error_message %}
	<p style="color: red;">Could not create account!</p>
	{% endif %}
	
	<h1 class="create">Create Account</h1>
	<div class="container">
		<form action="/createuser" method="POST">
			<label for="username"><b>Name</b></label>
			<input type="text" placeholder="Username" name="username" required>
			<br />

			<label for="firstname"><b>First Name:</b></label>
			<input type="text" placeholder="First Name" name="firstname" required>
			<br />

			<label for="lastname"><b>Last Name:</b></label>
			<input type="text" placeholder="Last Name" name="lastname" required>
			<br />

			<label for="password"><b>Password:</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>
			<br />

			<label for="repassword"><b>Re-Enter Password:</b></label>
			<input type="password" placeholder="Re-enter Password" name="repassword" required>
			<br />

			<label for="location"><b>Location</b></label>
			<input type="text" placeholder="City and State" name="location" required>
			<br />

			<label for="phone"><b>Phone</b></label>
			<input type="number" placeholder="Area Code & Number" name="phone" required>
			<br />
			<br />

			<input type="submit" value="Create">
		</form>
	</div>
	{% endif %}

	{% endblock %}