<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ url_for("home") }}">
        <img style="max-height: 50px;" src="{{ url_for("static", filename="images/heartlogo.png") }}"
            alt="Vitality Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if g.user %}

            {%if g.user_type == 'trainer' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("trainer_overview") }}"><b>Overview</b></a>
            </li>
            {% elif g.user_type == 'trainee' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("nearby_trainers") }}"><b>Find Nearby Trainers</b></a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("profile", username=g.user.username)}}"><b>Profile</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("workout_overview") }}"><b>Workouts</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("usersettings", username=g.user.username)}}"><b>Settings</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("logout") }}"><b>Signout</b></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("home") }}"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("features") }}"><b>Features</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("login")}}"><b>Login</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("signup") }}"><b>Sign up</b></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>