<!-- {% extends 'base.html' %} -->

{% block header %}

<title>Search Page</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}

<!-- <header></header> -->

<main>
    <h2>Take control.</h2>
    <h1>Your next workout is just a click away.</h1>
    <form action="search.html">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="material-icons">search</i></button>
    </form>
</main>

{% endblock %}