{%if g.user_type == 'trainer' %}
<nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("trainer_overview") }}"><b>Overview</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("list_trainees") }}"><b>Trainees</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("workout_overview") }}"><b>Workouts</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("trainer_schedule") }}"><b>Schedule</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href=""><b>Diets</b></a>
            </li>
        </ul>
    </div>
</nav>
{% elif g.user_type == 'trainee' %}
<nav class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("workout_overview") }}"><b>Workouts</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href="{{ url_for("trainee_schedule") }}"><b>Schedule</b></a>
            </li>
            <li class="nav-item pb-2">
                <a class="nav-link" href=""><b>Diets</b></a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}