{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %}

{% block content %}


<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Workouts</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_schedule") }}"><b>Schedule</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Diets</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-md-3 col-lg-10" id="contentblock">
        <div class="col pt-4 text-center">

            <form action="/trainee_add_trainer" method="POST">
                <div class="col-sm-12">
                    <input class="col-sm-3 text-center" name="trainer_name" style="height: 30px;"
                        placeholder="Trainer Name" />
                    <button class="col-sm-2" style="width: 19%; height: 30px;" type="submit">
                        Search
                    </button>
                </div>

                {% for trainer in trainers%}

                <div class="col-sm-12">
                    <div class="card mb-3 mt-3 mx-auto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" src="{{ url_for("static", filename="images/profile.svg") }}"
                                    alt="Trainer {{ trainer.username }}" width="100" heigh="100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ trainer.username|e }}</h5>
                                    <a class="btn mb-1 col-sm-12">Assigned Workouts</a>
                                    <a class="btn mb-1 col-sm-12">Info</a>
                                    <a class="btn mb-1 col-sm-12">Accept | Remove</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor%}
            </form>
        </div>
    </div>
</div>
{% endblock %}