{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %}
{% block content %}
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Workouts</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_schedule") }}"><b>Schedule</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Diets</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="contentblock" class="col-md-9 pt-3">
        <div class="row trainees">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary btn-lg" href="{{ url_for("trainee_list_trainers") }}" role="button">
                    See Trainers
                </a>
                <a href="{{url_for('trainee_add_trainer')}}" class="btn btn-primary btn-lg" role="button">
                    Add Trainer
                </a>
            </div>


            {% if trainers|length < 1 %}
            <div class="col trainee text-center p-3">
                <p style="color: #47525E;"><b>No trainers found!</b></p>
            </div>
            {% else %}
            {% for trainer in trainers %}
            {% if trainer %}
            <div class="col-sm-12 col-md trainee" style="align-items: center; text-align: center; padding: 10px 20px;">
                <a href="{{ url_for("profile", username=trainer.username) }}">
                    <img src="{{ url_for("static", filename="images/profile.svg") }}"
                        alt="Trainee {{ trainer.username }}" width="100" heigh="100">
                    <h3 class="trainer_name">{{ trainer.username }}</h3>
                </a>
            </div>
            {% endif%}
            {% endfor %}
            {% endif %}

        </div>
        <div class="row workouts">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary btn-lg" href="" role="button">Workouts</a>
            </div>
            {% if workouts|length < 1 %}
            <div class="col workout text-center p-3">
                <p style="color: #47525E;"><b>No workouts found!</b></p>
            </div>
            {% else %}
            {% for workout in workouts %}
            {% if workout %}
            <div class="col-sm-12 col-md workout" style="align-items: center; text-align: center; padding: 10px 20px;">
                <a href="">
                    <img src="{{ url_for("static", filename="images/profile.svg") }}" alt="workout {{ workout.name }}"
                        width="100" heigh="100">
                    <h3 class="workout_name">{{ workout.name }}</h3>
                </a>
            </div>
            {% endif%}
            {% endfor %}
            {% endif %}
        </div>

        <div class="row schedule">
            <div class="col-sm-12 text-center">
                <a class="btn btn-primary btn-lg" href="" role="button">Schedule</a>
            </div>
            {% if events|length < 1 %}
            <div class="col event text-center p-3">
                <p style="color: #47525E;"><b>No events found!</b></p>
            </div>
            {% else %}
            {% for event in events %}
            {% if event %}
            <div class="col-sm-12 col-md event" style="align-items: center; text-align: center; padding: 10px 20px;">
                <a href="">
                    <img src="{{ url_for("static", filename="images/profile.svg") }}" alt="event {{ event.name }}"
                        width="100" heigh="100">
                    <h3 class="event_name">{{ event.name }}</h3>
                </a>
            </div>
            {% endif%}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}