{% extends 'base.html' %}


{% block content %}

<style>
    #contentblock {
        background-color: #8492A6;
        color: white;
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }

    .sidebar a {
        color: #47525E;
    }

    .btn {
        background-color: #8492A6;
        border-color: white;
    }

    .navbar,
    .navbar-expand-lg,
    .jumbotron {
        background-color: #ffffff !important;
    }

    .flex-column .nav-item {
        border-bottom: 1px solid #D3DCE6;
    }
</style>
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Workouts</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_schedule") }}"><b>Schedule</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Diets</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col text-center " id="contentblock">
        <p>Schedule...</p>
    </div>
</div>
{% endblock %}