{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %}

{% block content %}
<div class="row">
    <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse pt">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_overview") }}"><b>Overview</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Workouts</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href="{{ url_for("trainee_schedule") }}"><b>Schedule</b></a>
                </li>
                <li class="nav-item pb-2">
                    <a class="nav-link" href=""><b>Diets</b></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col text-center " id="contentblock">
        <p>Schedule...</p>
    </div>
</div>
{% endblock %}