{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}" />
{% endblock %}

{% block content %}


<div class="row">
    {% include "sidebar.html" ignore missing %}


    <div class="col-md-3 col-lg-10 darkbg">
        <div class="col pt-4 text-center">

            <form action="{{ url_for('trainer_search') }}" method="POST">
                <div class="col-sm-12">
                    <input class="col-sm-3 text-center" name="trainer_name" style="height: 30px;"
                        placeholder="Trainer Name" />
                    <button class="col-sm-2" type="submit">
                        Search
                    </button>
                </div>

                {% for trainer in trainers%}

                <div class="col-sm-12">
                    <div class="card mb-3 mt-3 mx-auto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" src="{{ url_for("static", filename="images/profile.svg") }}"
                                    alt="Trainer {{ trainer.username }}" width="100" heigh="100">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ trainer.username|e }}</h5>
                                    <a class="btn mb-1 col-sm-12">Assigned Workouts</a>
                                    <a class="btn mb-1 col-sm-12"
                                        href="{{ url_for('profile', username=trainer.username) }}">Info</a>
                                    
                                    {% if trainer._id in trainer_id_list %}
                                    <a class="btn mb-1 col-sm-12" id="add" style="pointer-events: none; background-color: grey;">Already Added!</a>
                                    {% else %}
                                    <a class="btn mb-1 col-sm-12" id="add_{{trainer._id}}"
                                        onclick="add_trainer('{{ trainer._id }}')">Add</a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor%}
            </form>
        </div>
    </div>
</div>
<script>
    function add_trainer (trainer_id) {
        $.post("{{ url_for("add_trainer") }}", {"trainer_id": trainer_id}, function (data, status) {
            $(`#add_${trainer_id}`).text("Trainer Added!");
            $(`#add_${trainer_id}`).css("background-color", "grey");
            $(`#add_${trainer_id}`).prop('disabled', true);
        })
            .fail(function () {
                $(`#add_${trainer_id}`).text("Could not add!");
                var timeoutID = window.setTimeout(function () {
                    $(`#add_${trainer_id}`).css("background-color", "grey");
                    $(`#add_${trainer_id}`).text("Add");
                    $(`#add_${trainer_id}`).prop('disabled', false);
                }, 2 * 1000);
            });
    };
</script>
{% endblock %}