* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

button {
    background-color: #8492A6;
}

button:hover {
    color: #3f6499;
    text-decoration: none;
}

h1, h2, h3 {
    color: #47525E;
    font-weight: bold;
}

button, .button_title {
    color: white;
    background-color: none;
    border: 2px solid white;
    padding: .5em .7em;
    margin: 1em .3em;
    font-size: larger;
    border-radius: .2em;
}

button:hover, .button_title:hover {
    color: #3f6499;
    text-decoration: none;
}

.row {
    margin: auto;
}

.card {
    background-color: #8492A6;
    border: none;
    color: white;
    border-radius: .5em;
    margin: 1em;
}

.darkbg {
    background-color: #8492A6;
    color: white;
}

.jumbotron h1 {
    color: #F95F62;
}

.navbar-toggler {
    background-color: #47525E;
}

.navbar-toggler-icon {
    background-image: url("/static/images/bars.svg");
    fill: white;
}

.navbar, .navbar-expand-lg, .jumbotron {
    background-color: #E5E9F2 !important;
    width: 100%;
}

.navbar li a {
    color: #47525E;
}

.navbar li a:hover {
    color: #F95F62;
}

#content {
    width: 90%;
    margin: auto;
}