body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

button {
    color: white;
    background-color: #8492A6;
    border: 1px solid white;
}

button:hover {
    color: #3f6499;
    text-decoration: none;
}

.button_title {
    color: white;
    background-color: none;
    border: 1px solid white;
    padding: 2px 10px;
    margin: 2px;
}

.button_title:hover {
    color: #3f6499;
    text-decoration: none;
}

.card {
    background-color: #8492A6;
    border: none;
}

.darkbg {
    background-color: #8492A6;
    color: white;
}

.jumbotron h1 {
    color: #F95F62;
}

.navbar-toggler {
    background-color: #47525E;
}

.navbar-toggler-icon {
    background-image: url("/static/images/bars.svg");
    fill: white;
}

.navbar, .navbar-expand-lg, .jumbotron {
    background-color: #E5E9F2 !important;
}

.navbar li a {
    color: #47525E;
}

.navbar li a:hover {
    color: #F95F62;
}

#content {
    width: 90%;
    margin: auto;
}