# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unittests-and-Dependencies

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pytest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: MongoDB in GitHub Actions
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: latest
    - name: Test with pytest
      env:
        GOOGLE_MAPS_KEY: ${{ secrets.GOOGLE_MAPS_KEY }}
        GOOGLE_YOUTUBE_KEY: ${{ secrets.GOOGLE_YOUTUBE_KEY }}
      run: |
        export GOOGLE_YOUTUBE_KEY=${{ secrets.GOOGLE_YOUTUBE_KEY }}
        export GOOGLE_MAPS_KEY=${{ secrets.GOOGLE_MAPS_KEY }}
        pytest -v

  docker-build-test:
      runs-on: ubuntu-latest
      needs: pytest
      steps:
        -
          name: Checkout
          uses: actions/checkout@v2
        -
          name: Docker Build Setup
          uses: docker/setup-buildx-action@v1
          id: buildx
          with:
            install: true
        -
          name: Building the docker container
          run: |
            docker build .
